{% extends 'layout.html' %}

{% block body %}
<h3 class="mt-4">Australia Fire API</h3>
<p>
  The data used for this project was extracted, transformed, and loaded into a MongoDB database. This
  data is available for use through a Python Flask-powered API. For more information on the original data
  sources used, see <a href="/data">Data</a>.
</p>

<h3 class="mt-5">Resource URL</h3>

<code>
  http://australia-fire-api-dashboard.herokuapp.com/api/v1.0/
</code>

<h3 class="mt-5">
  Response Format
</h3>
<p>JSON</p>

<h3 class="mt-5">Avaiable Endpoints</h3>

<table class="table table-striped table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">Route</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">/fires_modis</th>
      <td>Returns a list of fires from the 2019 - 2020 Australia fire season that were recorded by the MODIS (Moderate
        Resolution Imaging Spectroradiometer) satellite sensor.</td>
    </tr>
    <tr>
      <th scope="row">/fires_viirs</th>
      <td>Returns a list of fires from the 2019 - 2020 Australia fire season that were recorded by the VIIRS (Visible
        Infrared Imaging Radiometer Suite) satellite sensor.</td>
    </tr>
    <tr>
      <th scope="row">/historical_fires</th>
      <td>Returns a list of past Australia fire seasons.</td>
    </tr>
  </tbody>
</table>


<h3 class="mt-5">
  Example Request
</h3>
<p>Here is an example of a request to get data about the Australia fires captured by NASA satellites (MODIS). This
  example uses the d3.json method to retrieve data.</p>

<code>
  const url = "https://australia-fire-api-dashboard.herokuapp.com/api/v1.0/fires_modis"
  d3.json(url).then(data => {
    console.log(data);
  });
</code>

<h3 class="mt-5">Example Response</h3>

<code>
{
  "result": [
    {
    "acq_date": "2019-08-01",
    "acq_time": 56,
    "bright_t31": 297.3,
    "brightness": 313,
    "daynight": "D",
    "frp": 6.6,
    "id": "5e8d5c7bf737511b7a471138",
    "instrument": "MODIS",
    "latitude": -11.807,
    "longitude": 142.0583,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 56,
    "bright_t31": 297.3,
    "brightness": 319.3,
    "daynight": "D",
    "frp": 11.3,
    "id": "5e8d5c7bf737511b7a471139",
    "instrument": "MODIS",
    "latitude": -11.7924,
    "longitude": 142.085,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 57,
    "bright_t31": 298.7,
    "brightness": 311.6,
    "daynight": "D",
    "frp": 23.1,
    "id": "5e8d5c7bf737511b7a47113a",
    "instrument": "MODIS",
    "latitude": -12.8398,
    "longitude": 132.8744,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 57,
    "bright_t31": 296.1,
    "brightness": 310.1,
    "daynight": "D",
    "frp": 6.5,
    "id": "5e8d5c7bf737511b7a47113b",
    "instrument": "MODIS",
    "latitude": -14.4306,
    "longitude": 143.3035,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 57,
    "bright_t31": 298.8,
    "brightness": 310.3,
    "daynight": "D",
    "frp": 27.6,
    "id": "5e8d5c7bf737511b7a47113c",
    "instrument": "MODIS",
    "latitude": -12.4953,
    "longitude": 131.4897,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 57,
    "bright_t31": 297.6,
    "brightness": 314.8,
    "daynight": "D",
    "frp": 9.3,
    "id": "5e8d5c7bf737511b7a47113d",
    "instrument": "MODIS",
    "latitude": -12.6191,
    "longitude": 142.1998,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 57,
    "bright_t31": 283.9,
    "brightness": 305.4,
    "daynight": "D",
    "frp": 5.9,
    "id": "5e8d5c7cf737511b7a47113e",
    "instrument": "MODIS",
    "latitude": -14.3655,
    "longitude": 143.5682,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 57,
    "bright_t31": 290.9,
    "brightness": 322.9,
    "daynight": "D",
    "frp": 20.4,
    "id": "5e8d5c7cf737511b7a47113f",
    "instrument": "MODIS",
    "latitude": -14.3195,
    "longitude": 143.5198,
    "satellite": "Terra"
    },
    {
    "acq_date": "2019-08-01",
    "acq_time": 57,
    "bright_t31": 300,
    "brightness": 317.2,
    "daynight": "D",
    "frp": 9.9,
    "id": "5e8d5c7cf737511b7a471140",
    "instrument": "MODIS",
    "latitude": -13.1654,
    "longitude": 141.9715,
    "satellite": "Terra"
    },
  ]
}
</code>
{% endblock %}