{% extends 'layout.html' %} {% block body %}
<div className="row">
  <div className="col-xs-12 col-md-6 d-flex justify-content-center mt-5 text-center">
    <h4 class="mt-5 text-center">Major Bushfires in Australia (1851 - 2020)</h4>
    <div id="historical-comparison-chart"></div>
  </div>
</div>

<div className="row">
  <div className="col-xs-12 col-md-6 d-flex justify-content-center mt-5 text-center">
    <h4 class="mt-5 text-center">Bushfire Devastation by State (2019 - 2020)</h4>
    <div id="bushfire-devastation-chart"></div>
  </div>
</div>
{% endblock %}