{% extends 'layout.html' %} {% block body %}
<table class="table table-striped" id="fires-modis-table">
  <thead>
    <tr>
      <th class="table-head">acq_date</th>
      <th class="table-head">acq_time</th>
      <th class="table-head">bright_t31</th>
      <th class="table-head">brightness</th>
      <th class="table-head">daynight</th>
      <th class="table-head">frp</th>
      <th class="table-head">instrument</th>
      <th class="table-head">latitude</th>
      <th class="table-head">longitude</th>
      <th class="table-head">satellite</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
{% endblock %}
