{% extends 'layout.html' %} {% block body %}
<div class="row">
  <div class="col-md-8 col-xs-12 col-sm-12 mt-5">
    <div class="card mt-3">
      <div class="card-body">
        <h3>Visualizing Australian Bushfires</h3>
        <hr/>
        <h5 class="mt-4">About</h5>
        <p>
          This project explores how wildfires (known in Australia as "bushfires") have affected 
          Australia over time. 
          For this project, we gathered data captured by NASA satellites, as well as various 
          historical wildfire and climate data. We visualized the damage and loss that Australia 
          has sustained historically, including during the most recent (2019-2020) bushfire season, 
          and show how climate temperature and precipitation changes are affecting the country. 
        </p>
        <div class="row">
          <div class="col-md-4">
            <h5 class="mt-4">Team</h5>
            <p>Stacy Konkiel</p>
            <p>Abby Lemon</p>
            <p>Jenna Nytes</p>
            <p>Phil Stubbs</p>
            <h5 class="mt-5">
              GitHub Repository
            </h5>
            <a href="https://github.com/philipstubbs13/australia-fire-api-and-dashboard" target="_blank">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </div>
          <div class="col-md-8">
            <img class="landing-image img-fluid" src="../static/images/fires_time_series.png" alt="historical fires" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12 col-sm-12 mt-5">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Visualizations</h5>
        <p class="card-text">Explore the history of Autralian bushfires and the impact they have had on Australia
          through interactive D3 visualizations.</p>
        <a type="button" href="/charts" class="btn btn-dark mt-2">View Visualizations</a>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">API</h5>
        <p class="card-text">Access historical, satellite, and climate data related to Australian wildfires through an Open
          Python Flask REST API. </p>
        <a type="button" href="/api/v1.0/docs" class="btn btn-dark mt-2">Explore API</a>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Map</h5>
        <p class="card-text">
          See how widespread fires were during a single week of the 2019-2020 Australian bushfire season,
          and learn about the estimated losses to life and property.
        </p>
        <a type="button" href="/map" target="_blank" class="btn btn-dark mt-2">Go to Map</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}