:root {
  --link-color: #00bc8c;
  --light-color: #fff;
}

.navbar a {
  color: var(--light-color) !important;
}

.navbar a:hover {
  color: var(--link-color) !important;
}

code {
  display: block;
  white-space: pre-wrap   
}