.navbar a {
  color: #fff !important;
}

a:hover {
  color: orangered !important;
}

code {
  display: block;
  white-space: pre-wrap;
  font-size: 18px;
}

/* Sticky footer using flexbox */
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}


