:root {
  --link-color: #00bc8c;
  --light-color: #fff;
  --accent-color: orangered;
}

.navbar a {
  color: var(--light-color) !important;
}

.navbar a:hover {
  color: var(--link-color) !important;
}