<div class="row">
  <div class="col-md-12">
    <h4 class="mt-5">
      Major Bushfires in Australia (1851 - 2020)
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 historical-chart-filters">
    <button type="button" id="download-historical-chart" class="btn btn-dark mt-1">Download Chart</button>
    <h5 class="mt-4">Select fire</h5>
    <select></select>
    <div class="single-fire-container"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 mt-3">
    <div id="historical-comparison-chart"></div>
  </div>
</div>